.cardAlimentacion {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: beige;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.descripcion {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.aficiones {
  font-size: 0.875rem;
  color: gray;
}

.calorias {
  font-weight: bold;
  margin-top: 0.5rem;
}
